<div class="jumbotron rounded jumbotron-fluid animated fadeIn mt-3 ">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-2 text-white text-center">Komick.</h1>
        <p class="lead text-white text-center"> Aqui se encontrará informacion sobre grandes Heroes de comics. </p>
        <hr>
      </div>

    </div>
  </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img class="img-fluid" src="./assets/img/marvel.png" alt="Marvel Comics">
      </div>
      <div class="col-md-6 col-sm-12">
        <img class="img-fluid" src="./assets/img/dc.png" alt="DC Comics">
      </div>
    </div>


</div>
